# ==========================================
# Core Utilities
# ==========================================

numpy
typing_extensions
tqdm
pyyaml
packaging
rich
click

# ==========================================
# Hugging Face
# ==========================================

huggingface_hub
transformers
safetensors
tokenizers
accelerate

# ==========================================
# PyTorch
# ==========================================

torch
torchvision
torchaudio

# ==========================================
# TensorFlow
# ==========================================

tensorflow

# ==========================================
# LiteRT
# ==========================================

litert-torch-nightly
litert-torch

# ==========================================
# Image Processing
# ==========================================

pillow

# ==========================================
# Utilities
# ==========================================

requests
psutil